@page "/article/{ArticleName}"


<MudCarousel onclick=@OpenOverlay class="articleImages d-flex" Style="height:350px;" AutoCycle=false TData=object>
	<DelimiterTemplate Context="selected">
		<div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
			<span class="carouselTab @(selected ? "carouselTab-selected" :"")"/>
		</div>
	</DelimiterTemplate>
	<ChildContent>
		<MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
			<div class="d-flex" style="height:100%">
				<img class="fitter" src="https://images.unsplash.com/photo-1632813101586-c6243f84a800?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" />
			</div>
		</MudCarouselItem>
		<MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
			<div class="d-flex" style="height:100%">
				<img class="fitter" src="https://images.unsplash.com/photo-1632814501477-7f3a88232a17?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80" />
			</div>
		</MudCarouselItem>
		<MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
			<div class="d-flex" style="height:100%">
				<img class="fitter" src="https://images.unsplash.com/photo-1632767576183-8a22609cc9e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" />
			</div>
		</MudCarouselItem>
		<MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
			<div class="d-flex" style="height:100%">
				<img class="fitter" src="https://images.unsplash.com/photo-1586227740560-8cf2732c1531?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1261&q=80" />
			</div>
		</MudCarouselItem>
	</ChildContent>

</MudCarousel>

<style>
	.carouselTab {
		height: 5px;
		width: 30px;
		background-color: white;
		border-radius: 5px;
		opacity: 50%;
	}

	.carouselTab-selected {
		opacity: 100%;
	}
</style>



@if(isFullCarouselOpen){
<MudOverlay @bind-Visible="isFullCarouselOpen" DarkBackground="true" AutoClose="true" Style="z-index:1200;" />
@*<MudIconButton Icon=@Icons.Rounded.Close Color=Color.Surface Style="z-index:1202;position:absolute;top:10%;right:10%;" OnClick=@CloseOverlay />*@
 <MudFab Color="Color.Transparent" Icon="@Icons.Rounded.Close" Size="Size.Small" IconSize="Size.Medium" DisableElevation=true Style="color: white;z-index:1202;position:absolute;top:7%;right:6%;" OnClick=@CloseOverlay  />
<MudCarousel SelectedIndex=fullScreenTabIndex ItemsSource=articlePicUrls onclick=@OpenOverlay class="articleImages d-flex"  Style="z-index:1201;position:absolute;top:50%;left:50%;height:90%;width:90%;transform:translate(-50%,-50%)"  AutoCycle=false TData=object>
	<DelimiterTemplate  Context="selected">
		<div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
			<span class="carouselTab @(selected ? "carouselTab-selected" :"")"/>
			@*<span class="fullCarouselTab @(selected ? "fullCarouselTab-selected" :"")" style="@fullCarousel[fullScreenTabIndex]"/>*@
		</div>
	</DelimiterTemplate>
	<ItemTemplate Context="item"> 
        <div class="d-flex flex-column flex-column justify-center" style="height:100%">
           <div class="d-flex" style="height:100%">
				<img class="fitter" src="@item" />
			</div>
        </div>
    </ItemTemplate>
	@*<ChildContent>
		<MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary" Tag="images.unsplash.com/photo-1632813101586-c6243f84a800?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80">
			<div class="d-flex" style="height:100%">
				<img class="fitter" src="https://images.unsplash.com/photo-1632813101586-c6243f84a800?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" />
			</div>
		</MudCarouselItem>
		<MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary" Tag="images.unsplash.com/photo-1632814501477-7f3a88232a17?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80">
			<div class="d-flex" style="height:100%">
				<img class="fitter" src="https://images.unsplash.com/photo-1632814501477-7f3a88232a17?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80" />
			</div>
		</MudCarouselItem>
		<MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary" Tag="images.unsplash.com/photo-1632767576183-8a22609cc9e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80">
			<div class="d-flex" style="height:100%">
				<img class="fitter" src="https://images.unsplash.com/photo-1632767576183-8a22609cc9e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" />
			</div>
		</MudCarouselItem>
		<MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary" Tag="images.unsplash.com/photo-1586227740560-8cf2732c1531?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1261&q=80">
			<div class="d-flex" style="height:100%">
				<img class="fitter" src="https://images.unsplash.com/photo-1586227740560-8cf2732c1531?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1261&q=80" />
			</div>
		</MudCarouselItem>
	</ChildContent>*@

</MudCarousel>
}


<style>
	.fullCarouselTab {
		height: 30px;
		width: 60px;
		background-color: gry;
		border-radius: 5px;
		opacity: 50%;
	}

	.fullCarouselTab-selected {
		opacity: 100%;
	}
</style>


<div class="titleLine">
	<MudText Typo=Typo.h3 Class="articleTitle">Article - @ArticleName</MudText>
	<MudSpacer />
	<MudText Typo=Typo.h5 Color=Color.Secondary Class="articleLocation">Foz</MudText>
	<MudIcon Icon="fas fa-map-marker-alt" Color=Color.Secondary />
</div>



<div class="articleBody">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		\n
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor i
		/n
		ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	</p>
</div>

<div class="mapouter">
	<div class="gmap_canvas">
		<iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-a.com"></a><br><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
		<style>
			.gmap_canvas {
				overflow: hidden;
				background: none !important;
				height: 300px;
				width: 70%;
			}

			.mapouter {
				display: flex;
				justify-content: center;
			}
		</style>

	</div>
</div>


<style>
	.titleLine {
		display: flex;
		align-items: center;
		padding: 14px;
	}

	.articleTitle {
		font-weight: bold;
	}

	.articleLocation {
		font-weight: bold;
		margin-right: 10px;
	}


	.fitter {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.articleBody {
		padding: 28px;
	}

	.mud-carousel.articleImages {
		border-radius: 5px 5px 5px 5px;
	}
</style>